[submodule "external/nvrhi"]
	path = external/nvrhi
	url = https://github.com/lawfuyang/nvrhi
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/ShaderMake"]
	path = external/ShaderMake
	url = https://github.com/NVIDIA-RTX/ShaderMake
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
